/* ===== Reset / Normalização ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== Configurações  ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: #333;
    line-height: 1.6;
    background-image: url("Img/cake_pattern_outline_dots.jpg");
}

/* ===== Layout ===== */
section {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
}

/* ===== Tipografia ===== */
h1, h2, h3 {
    margin-bottom: 10px;
    text-align: center; 
}

p {
    margin-bottom: 15px;
    text-align: center; 
}

h4 {
    margin-bottom: 10px;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
}

/* ===== Listas ===== */
ul {
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: left; 
    list-style: none;
}

ol {
    margin-left: 20px;
    margin-bottom: 15px;
    text-align: left; 
}


/* ===== Classes ===== */

.preparo {
    font-weight: bold;
    color: red;
}

.forno {
    font-weight: bold;
    color: blue;
}


.lista-centro {
    text-align: center;
    list-style-position: inside;
    padding-left: 0;
    line-height: 1.5;
}

.lista-left {
    text-align: left;
    list-style-position: inside;
    line-height: 1.75;
}


/* ===== Imagens ===== */
img {
    max-width: 100%;
    height: auto;
    border-radius: 6px;
    display: block;
    margin: 0 auto;
}

/* ===== Responsividade ===== */
@media (max-width: 600px) {
    main {
        padding: 15px;
    }
}
